@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans;
}


/* ------Colours------ */

body {
    background-color: #f8f5f0;
}

/* -----Special margins/padding and text---------*/

.intro {
    padding: 0px;
    margin: 0px;
}

.intro-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.intro-container h2 {
    padding-top: 15px;
}

.intro-container p {
    margin-top: 20px;
}

.intro-container {
    padding-right: 0px;
    overflow-x: hidden;
}

.image-container{
    margin-bottom: 10px;
    margin-top: 30px;
    padding-right: 0px;
    overflow-x: hidden;
}




/* ------Heading------ */


/* ------NavBar------ */


.navbar {
    color: #f8f5f0;
}

.navbar-brand {
    font-size: medium;
    font-weight: 400;
    padding-left: 10px;
    color: #0D160B;
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #0D160B;
}

.navbar-nav {
    color: #f8f5f0;
}

#navbarNav {
    margin: 10px;
}

/*-----Home Page -----*/

.home-container {
    height: 100vh;

    background: url('../images/bride-hero-image.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.ceremony-image-container {
    height: 100vh;
    width: 100%;

    background: url('../images/ceremony-kiss.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    
    position: relative;

}


.image-container img {
    height: auto;
    width: 100%;
    position: relative;

}

/*-----Buttons------*/

.btn-dark.btn-sm {
    color: #0D160B;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #0D160B;
    border-bottom: double;
    border-top: double;
} 

.about-button {
    
}

.portfolio-button {


}

.fa-arrow-right {
    padding-left: 0.3rem;
}

/* ------Jumbotron------ */

.jumbotron {
    background-color: transparent;
    padding-top: 2%;
}

.jumbotron h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #0D160B;
}

.jumbotron .lead {
    margin: 35px 0;
}

p.lead {
    font-family: 'Montserrat', sans-serif;
}


/* ------Footer------ */

.page-footer {
margin-left:0px;
margin-right: 0px;
}

#footer-details .nav-link {
    font-weight: 600;
    color: #0D160B;
    margin: 20px 0;
    font-size: 13px;
}


#footer-social-links li a i {
    color: #0D160B;
    letter-spacing: 5%;
}


/* ------Hover.CSS------ */



/* ------Gallery------ */



/* ------About------ */



/* ------Contact form------ */




/* ------Media Query------ */

 @media (max-width: 767px){
    .navbar {
       padding: 0 20px;
    } 
 }

