@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* ------Colours------ */

body {
    background-color: #f8f9fa;
}

/* -----Special margins/padding and text---------*/

.intro {
    padding: 0px;
    margin: 0px;
}

.intro-container p {
    margin-top: 20px;
}

.intro-container {
    padding-right: 0px;
    overflow-x: hidden;
}

.image-container{
    margin-bottom: 10px;
    margin-top: 30px;
    padding-right: 0px;
    overflow-x: hidden;
}




/* ------Heading------ */

.intro-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.intro-container h2 {
    padding-top: 15px;
}

.about-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.review-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 15px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}


/* ------NavBar------ */


.navbar {
    color: #f8f9fa;
}

.navbar-brand {
    font-size: medium;
    font-weight: 400;
    padding-left: 10px;
    color: #0D160B;
}

.nav-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0D160B;
    text-transform: uppercase;
}

a.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0D160B;
    text-transform: uppercase;
}

.navbar-nav {
    color: #f8f9fa;
}

#navbarNav {
    margin: 10px;
}

/*-----Home Page -----*/

.home-container {
    height: 100vh;

    background: url('../images/bride-hero-image.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.ceremony-image-container {
    height: 100vh;
    width: 100%;

    background: url('../images/ceremony-kiss-bnw.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    
    position: relative;

}


.image-container img {
    height: auto;
    width: 100%;
    position: relative;

}


/*-----Buttons------*/

.btn-dark.btn-sm {
    color: #0D160B;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #0D160B;
    border-bottom: double;
    border-top: double;
} 

.fa-arrow-right {
    padding-left: 0.3rem;
}

/* ------Jumbotron------ */

.jumbotron {
    background-color: transparent;
    padding-top: 5px;
}

.jumbotron h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #0D160B;
}

.jumbotron .lead {
    margin: 35px 0;
}

p.lead {
    font-family: 'Open Sans', sans-serif;
}

/* ------Footer------ */

.page-footer {
margin-left:0px;
margin-right: 0px;
}

#footer-details .nav-link {
    font-weight: 600;
    color: #0D160B;
    margin: 20px 0;
    font-size: 13px;
    text-transform: uppercase;
}


#footer-social-links li a i {
    color: #0D160B;
    letter-spacing: 5%;
}


/* ------Hover.CSS------ */



/* ------Gallery------ */

.carousel-item img {
    width: 100%;
    height: auto;
}

.image-gallery {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* code from Stackoverflow =https://stackoverflow.com/questions/1027354/i-need-an-unordered-list-without-any-bullets */

ul {
  list-style-type: none;
}


/* ------About------ */


.about-me-image {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 1%;
}

.about-me-text {
    margin: auto;
    padding-top: 12px;
}

.philosophy-text { 
    margin: auto;
    padding-top: 12px;
}

.philosophy-image {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-bottom: 15px;
}


/* ------Testimonials----- */

.review-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 40%;
  border-bottom: 1px solid #0D160B;
}

.fa-quote-right {

}

/* ------Contact form------ */


/* ------Media Query------ */

 @media (max-width: 767px){
    .navbar {
       padding: 0 20px;
    }
 }

